BETTER_AUTH_SECRET=""
DATABASE_URL=""

# NEXT_PUBLIC_BASE_URL="https://openvideolab.linrium.workers.dev"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

OPENROUTER_BASE_URL=""
# OPENROUTER_BASE_URL="http://localhost:8787/api/v1"
OPENROUTER_API_KEY=""

OPENAI_API_KEY=""
GOOGLE_GENERATIVE_AI_API_KEY=""
LMNT_API_KEY=""
BFL_API_KEY=""

AWS_REGION="auto"
AWS_ENDPOINT_URL=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
