BETTER_AUTH_SECRET=yIycWpV2t57O6b9DfXGg4Q0yul9eVd1f
DATABASE_URL=

# NEXT_PUBLIC_BASE_URL="https://openvideolab.linrium.workers.dev"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# OPENROUTER_BASE_URL=""
# OPENROUTER_BASE_URL="http://localhost:8787/api/v1"
OPENROUTER_BASE_URL="https://openrouter.ai/api/v1"
OPENROUTER_BASE_WEBHOOK_URL="https://openvideolab.linrium.workers.dev"

AWS_REGION="auto"
AWS_ENDPOINT_URL=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
